.option-text {
  width:120px;
  display:inline-block;
}

.option-ratio {
  height: 2px;
  background-color: #276beb;
}

.avatars{
  list-style: none;
  margin: 0;
  padding: 0;
}
.avatars > li{
  display: inline-block;
}
.avatar{
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
